:root {
    /* Colors */
    --color-text: #dde4f0;
    --color-primary: #8b7cf8;
    --color-secondary: #1c1a3a;
    --color-dark: #131224;
    --color-bg: #0e0e1a;

    /* Fonts */
    --font-nunito: "Nunito", sans-serif;
}
